body {
	color:black;
	background:white;
}


table{
  margin-bottom: 50px;
  
}
th, td{
  display:table-cell;
  border: 2px solid black;
  padding: 10px 16px;
  position: relative;
}

.t3{
	border : 2px solid black;
}
.t2{
  empty-cells: hide;
}

h{
  background-color: #00FF00;
}

essai{
	border : 2px solid black;
}




input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}



