body {
font-family: Georgia, sans-serif;
margin: 70px;
background-color: #3b3333;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: calc(100% / 4 - 20px); /* Ajustement initial pour 4 cartes par ligne, ajustez le
nombre selon vos besoins */
margin: 10px; /* Espacement entre les cartes */
float: left; /* Alignement des cartes sur la même ligne */
background-color: #bfacac;
border-radius: 10px; /* Coins arrondis */
text-align: center; /* Centrer le texte à l'intérieur de la carte */
flex: 1 1 calc(100% / 4 - 20px); /* Chaque carte prend 25% de la largeur, ajusté avec la marge */
max-width: calc(100% 4 - 20px); /* Fixe la largeur max */
}
#cards {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si l’écran est trop petit */
    justify-content: space-between; /* Espacement égal entre les cartes */
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
transform: scale(1.1); /* Agrandit légèrement la carte */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); /* Accentue l'effet d'ombre */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card img {
width: 100%; /* Assure que l'image de la carte s'adapte à la largeur du conteneur */
}
.card h2, .card p {
padding: 0 15px;
}

/* Clearfix pour gérer le flottement des éléments */
#cards:after {
content: "";
display: table;
clear: both;
}

h1 {
    color: #947c7c;
    text-align: center;
}
